<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Staging Manager</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta name="description" content="Developed By M Abdur Rokib Promy">
    <meta name="keywords" content="Admin, Bootstrap 3, Template, Theme, Responsive">


    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!-- endbower -->
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/easypiechart.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/gmap.css">
    <link rel="stylesheet" href="/css/ionicons.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/jquery.ui.plupload.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap-slider/slider.css">
    <link rel="stylesheet" href="/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.css">
    <link rel="stylesheet" href="/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="/css/bs-datetimepicker/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="/css/bs-datetimepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/css/colorpicker/bootstrap-colorpicker.css">
    <link rel="stylesheet" href="/css/colorpicker/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="/css/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/css/daterangepicker/daterangepicker-bs3.css">
    <link rel="stylesheet" href="/css/datepicker/datepicker3.css">
    <link rel="stylesheet" href="/css/fullcalendar/fullcalendar.css">
    <link rel="stylesheet" href="/css/fullcalendar/fullcalendar.print.css">
    <link rel="stylesheet" href="/css/iCheck/all.css">
    <link rel="stylesheet" href="/css/ionslider/ion.rangeSlider.css">
    <link rel="stylesheet" href="/css/ionslider/ion.rangeSlider.skinFlat.css">
    <link rel="stylesheet" href="/css/ionslider/ion.rangeSlider.skinNice.css">
    <link rel="stylesheet" href="/css/jQueryUI/jquery-ui-1.10.3.custom.css">
    <link rel="stylesheet" href="/css/jQueryUI/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="/css/morris/morris.css">
    <link rel="stylesheet" href="/css/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="/css/multiselect/multi-select.css">
    <link rel="stylesheet" href="/css/timepicker/bootstrap-timepicker.css">
    <link rel="stylesheet" href="/css/timepicker/bootstrap-timepicker.min.css">
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/js/app.js"></script>
    <!-- endinject -->



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
          <![endif]-->

    <style type="text/css">

    </style>
</head>

<body class="skin-black">
    <!-- header logo: style can be found in header.less -->
    <header class="header">
        <a href="index.html" class="logo">
                Staging Manager
            </a>

    </header>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="left-side sidebar-offcanvas">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->

                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search..." />
                        <span class="input-group-btn">
                                        <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                                    </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="active">
                        <a href="index.html">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="general.ejs">
                            <i class="fa fa-gavel"></i> <span>General</span>
                        </a>
                    </li>

                    <li>
                        <a href="basic_form.ejs">
                            <i class="fa fa-globe"></i> <span>Basic Elements</span>
                        </a>
                    </li>

                    <li>
                        <a href="simple.ejs">
                            <i class="fa fa-glass"></i> <span>Simple tables</span>
                        </a>
                    </li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <aside class="right-side">

            <!-- Main content -->
            <section class="content">

                <div class="row" style="margin-bottom:5px;">

                    <div class="col-md-3">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon st-violet"><i class="fa fa-tag"></i></span>
                            <div class="sm-st-info">
                                <span>Deployed</span>Build Number:
                                <%=deployedBuild.number%>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="sm-st clearfix">
                            <span class="sm-st-icon st-green"><i class="fa fa-archive"></i></span>
                            <div class="sm-st-info">
                                <span><%=builds.length%></span> Total Builds
                            </div>
                        </div>
                    </div>


                </div>

                <!-- Main row -->
                <div class="row">

                    <div class="col-md-16">
                        <!--earning graph start-->
                        <section class="panel">
                            <header class="panel-heading">
                                Builds
                            </header>
                            <div class="panel-body table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Build Number</th>
                                            <th>Artifact ID</th>
                                            <!-- <th>Client</th> -->
                                            <th>Created</th>
                                            <!-- <th>Price</th> -->
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% builds.reverse()
                                            for(var i = 0; i < builds.length;i++){%>

                                            <tr>
                                                <td>
                                                    <%=builds[i].number%>
                                                </td>
                                                <td>
                                                    <%=builds[i].artifactId%>
                                                </td>
                                                <!-- <td>Steve</td> -->
                                                <td>
                                                    <%=builds[i].createdDate%>
                                                </td>
                                                <!-- <td>$1500</td> -->
                                                <% if(builds[i].deployed == true){ %>
                                                    <td><span class="label label-success">deployed</span></td>
                                                    <% } else{ %>
                                                        <td>
                                                            <button class="btn btn-primary btn-addon btn-sm">
                                                                <i class="fa fa-plus"></i> Deploy
                                                            </button>
                                                        </td>
                                                        <% } %>

                                            </tr>
                                            <%}%>

                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <!--earning graph end-->

                    </div>


                </div>
                <div class="row">

                    <div class="col-md-8">



                    </div>
                    <!--end col-6 -->


                </div>
                <!-- ./wrapper -->


                <!-- jQuery 2.0.2 -->
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
                <script src="js/jquery.min.js" type="text/javascript"></script>

                <!-- jQuery UI 1.10.3 -->
                <script src="js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
                <!-- Bootstrap -->
                <script src="js/bootstrap.min.js" type="text/javascript"></script>
                <!-- daterangepicker -->
                <script src="js/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>

                <script src="js/plugins/chart.js" type="text/javascript"></script>

                <!-- datepicker
        <script src="js/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>-->
                <!-- Bootstrap WYSIHTML5
        <script src="js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>-->
                <!-- iCheck -->
                <script src="js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
                <!-- calendar -->
                <script src="js/plugins/fullcalendar/fullcalendar.js" type="text/javascript"></script>

                <!-- Director App -->
                <script src="js/Director/app.js" type="text/javascript"></script>

                <!-- Director dashboard demo (This is only for demo purposes) -->
                <script src="js/Director/dashboard.js" type="text/javascript"></script>


</body>

</html>